* {
  padding: 0;
}

.header {
  display: flex;
}

.footer {
  align-self: flex-end;
  background-color: gray;
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 10px;
  margin-left: 20px;
}

.cards img {
  max-width: 100px;
}

.cards h1 {
  font-size: small;
}

.detail img {
  max-width: 100px;
}

.RecomendationCard {
  max-width: 50%;
}

.ButtonRecipe {
  width: 100%;
}
